@keyframes dynamicExtBounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes dynamicShrBounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes dynamicExtend {
    0% {
        filter: blur(2px);
        height: 20px;
        width: 40vw;
    }
    100% {
        filter: blur(0px);
        height: 60vh;
        width: 70vw;
    }
}

@keyframes dynamicShrink {
    0% {
        filter: blur(0px);
        height: 60vh;
        width: 70vw;
    }
    100% {
        filter: blur(2px);
        height: 20px;
        width: 40vw;
    }
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative; /* Added position relative */
}

.hero h1 {
    color: white;
    font-size: 4em;
    position: static;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0.2em;
    text-decoration: underline;
    text-decoration-color: #00F0FF;
    text-decoration-thickness: 0.3em;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft YaHei", "Helvetica Neue", Arial, sans-serif;
    background-color: black;
    margin: 0;
    overflow: auto;
}

#bg-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
    display: block;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

.dynamic-nav {
    position: fixed;
    top: 10px;
    height: 20px;
    width: 40vw;
    background-color: black;
    color: white;
    border: 1px solid #9C9C9C;
    border-radius: 30px;
    padding: 16px;
    z-index:10000;
}

.dynamic-nav.shrink-anim {
    animation: dynamicShrink 0.3s ease, dynamicShrBounce 0.5s ease;
}

.dynamic-nav:hover {
    animation: dynamicExtend 0.3s ease, dynamicExtBounce 0.5s ease;
    height: 60vh;
    width: 70vw;
}


.dynamic-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.dynamic-nav li {
    margin-right: 24px;
}

.dynamic-nav li:last-child {
    margin-right: 0;
}

.nav-link {
    color: white;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease;

}

.nav-link:hover {
    color: #9C9C9C;
}
/* 悬停时其他按钮模糊效果 */
.nav-link.blurred {
    filter: blur(2px);
    transition: filter 0.3s;
}

/*magnetic yoyo*/
.container {
    position: absolute;
    left: 43%;
    width: 50rem; /* Adjusted for better visibility Origin: 50rem*/
    height: 50rem;  /* Adjusted for better visibility Origin: 50rem*/
    overflow: visible;
}

.container line {
    fill: none;
    stroke: #f7f7f7;
    stroke-width: 2;
}