@keyframes dynamicExtBounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes dynamicShrBounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes dynamicExtend {
    0% {
        filter: blur(2px);
        height: 20px;
        width: 40vw;
    }
    100% {
        filter: blur(0px);
        height: 60vh;
        width: 70vw;
    }
}

@keyframes dynamicShrink {
    0% {
        filter: blur(0px);
        height: 60vh;
        width: 70vw;
    }
    100% {
        filter: blur(2px);
        height: 20px;
        width: 40vw;
    }
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative; /* Added position relative */
    cursor: pointer; /* Added cursor pointer */
}

.hero h1 {
    color: white;
    font-size: 4em;
    position: static;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0.2em;
    text-decoration: underline;
    text-decoration-color: #00F0FF;
    text-decoration-thickness: 0.3em;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft YaHei", "Helvetica Neue", Arial, sans-serif;
    background-color: black;
    margin: 0;
    overflow: auto;
}

#bg-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
    display: block;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

.dynamic-nav {
    position: fixed;
    top: 10px;
    height: 20px;
    width: 40vw;
    background-color: black;
    color: white;
    border: 1px solid #9C9C9C;
    border-radius: 30px;
    padding: 16px;
    z-index:10000;
}

.dynamic-nav.shrink-anim {
    animation: dynamicShrink 0.3s ease, dynamicShrBounce 0.5s ease;
}

.dynamic-nav:hover {
    animation: dynamicExtend 0.3s ease, dynamicExtBounce 0.5s ease;
    height: 60vh;
    width: 70vw;
}


.dynamic-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.dynamic-nav li {
    margin-right: 24px;
}

.dynamic-nav li:last-child {
    margin-right: 0;
}

.nav-link {
    color: white;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease;

}

.nav-link:hover {
    color: #9C9C9C;
}
/* 悬停时其他按钮模糊效果 */
.nav-link.blurred {
    filter: blur(2px);
    transition: filter 0.3s;
}

/*magnetic yoyo*/
.container {
    position: absolute;
    left: 43%;
    width: 50rem; /* Adjusted for better visibility Origin: 50rem*/
    height: 50rem;  /* Adjusted for better visibility Origin: 50rem*/
    overflow: visible;
}

.container line {
    fill: none;
    stroke: #f7f7f7;
    stroke-width: 2;
}

.scrollGuide p{
    color: white;
    position: absolute;
    left: 20%;
}

.about-leading {
    width: 100%;
    height: 60vh;
    text-align: center;
    margin-top: 25vh;
}

.about-leading-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#lottie-animation3 {
    width: 100px;
    height: 100px;
    margin-right: 32px;
}

.about-leading-flex h2 {
    margin: 0;
}

.about {
    width: 100%;
    height: 100vh;
    text-align: center;
    
}

.about p {
    color: white;
}

.about strong {
    color: #00F0FF;
}

.about-lottie-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lottie-animation {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

:root {
    --cr-main-1: #00F0FF;
    --cr-main-2: #00ffa2;
    --cr-1: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 20%);
    --cr-2: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 35%);
    --cr-3: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 50%);
    --cr-4: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 65%);
    --cr-5: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 80%);
}

.blobs {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    filter: blur(140px);
}

.blob {
    width: max(240px, 28vw);
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.blob:nth-of-type(1) {
    background: var(--cr-main-1);
}

.blob:nth-of-type(2) {
    background: var(--cr-main-2);
}

.blob:nth-of-type(3) {
    background: var(--cr-1);
}

.blob:nth-of-type(4) {
    background: whitesmoke;
}

.blob:nth-of-type(5) {
    background: var(--cr-3);
}

.blob:nth-of-type(6) {
    background: var(--cr-4);
}

.blob:nth-of-type(7) {
    background: var(--cr-2);
}

.about-leading h2 {
    color: white;
    font-size: clamp(24px, 6vw, 64px);
    max-width: 400px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.8;
    mix-blend-mode: overlay;
    text-decoration: wavy underline;
    text-decoration-color: #00F0FF;
    text-decoration-thickness: 0.06em;
}

.about-link {
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    border: 2px solid #00eaff;
    border-radius: 30px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.about-link:hover {
    padding: 12px 22px;
    background-color: #00eaff;
    box-shadow: 0 0 10px 2px #00eaff, 0 0 20px 4px #00eaff;
    text-shadow: 0 0 8px #00eaff;
    transition: box-shadow 0.3s, text-shadow 0.3s;
}